@use "variables" as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 135px; 
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}