@use "variables" as *;

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.contact-section {
  width: 46%;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  position: relative;
}

.info-item {
  margin-bottom: 15px;
  color: rgba(0,0,0,0.8);

  h4 {
    margin-bottom: 5px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  strong {
    font-size: 1rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.sub {
  margin-left: 10px;
  strong { font-size: 0.9rem; }
}

.contact-input {
  margin: 20px 0;

  &:first-child {
    margin-top: 10px;
  }
}

.map {
  margin: 30px auto;
}

.confirm {
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  opacity: 0;
}

@media screen and (max-width: $container-width) {
  .contact, .map {
    width: calc(100% - 40px);
  }
  .contact-section {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .contact-section, .map {
    width: 90%;
    margin: 30px auto;
  }
}