@use "variables" as *;

.title {
  margin-bottom: 10px;
}

.date {
  font-size: 0.8rem;
}

.content {
  margin-top: 30px;

  p {
    font-size: 0.9rem;
  }
  a {
    font-weight: 500;
  }
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

@media screen and (max-width: $container-width) {
  .post {
    padding: 0 20px;
  }
}

@media screen and (max-width: $mobile-width) {
  .content {
    p {
      font-size: 1rem;
    }
  }
}